* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .portada {
  width: 100%; }

header .navegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 25px;
  flex-wrap: wrap;
  gap: 25px; }

header .navegacion a {
  text-decoration: none;
  color: black; }

header nav li {
  list-style: none; }

header nav {
  background-color: orangered;
  margin-top: -10px; }

header {
  display: grid;
  grid-template-columns: repet(3, 1fr);
  grid-template-rows: repet(3, 1fr);
  justify-content: none;
  align-items: none;
  grid-area: "portada portada portada" "navegacion navegacion navegacion" "buscador buscador buscador"; }

.buscador {
  grid-area: buscador;
  display: flex;
  gap: 20px;
  font-size: 25px;
  padding: 8px;
  justify-content: center; }

.buscador input {
  width: 90%;
  height: 30px; }

.fondo-index {
  background-image: url(../asset/img/Fondo-de.madera.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

footer {
  background-color: black; }

.redes-sociales-1 a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
  gap: 5px;
  margin-left: 10px;
  text-decoration: none;
  text-align: start; }

.redes-sociales-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
  gap: none;
  text-align: start;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  text-decoration: none; }

.ubicacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
  gap: none;
  text-align: center; }

.color-footer {
  color: white; }

@font-face {
  font-family: 'poppins', sans-serif;
  src: url(); }

main .centro {
  margin: 30px 10px 0px 10px; }

main .box {
  text-align: center;
  padding: 30px 0px 30px 0px; }

main section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: none;
  gap: 20px; }

.orden {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: none;
  gap: 30px;
  margin: 40px 40px 0px 40px;
  text-align: center; }

.clasicas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
  gap: none;
  width: 300px;
  margin-left: 20px; }

.maxi {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
  gap: none;
  width: 300px;
  margin-left: 20px; }

main article a {
  text-decoration: none;
  color: black; }

.linea1-grids {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  align-items: none;
  grid-area: none;
  margin-top: 30px; }

.linea2-grids {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  align-items: none;
  grid-area: none;
  margin-top: 30px; }

.swift-24F-grids {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.UG-24F-grids {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.paty-clasico-24F-grids {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.maxi-mesa-24F-grids {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.linea3-grids {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  align-items: none;
  grid-area: none;
  margin-top: 30px; }

.linea4-grids {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  align-items: none;
  grid-area: none;
  margin-top: 30px; }

.swift-40F-grids {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.UG-40F-grids {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.paty-clasico-40F-grids {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.maxi-mesa-40F-grids {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.linea1-grids {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  align-items: none;
  grid-area: none;
  margin-top: 30px; }

.linea2-grids {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  align-items: none;
  grid-area: none;
  margin-top: 30px; }

.depin_30F-grids {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.swift-30F-grids {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.paty-viena-30F-grids {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.vienisima-30F-grids {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.linea3-grids {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  align-items: none;
  grid-area: none;
  margin-top: 30px; }

.linea4-grids {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  align-items: none;
  grid-area: none;
  margin-top: 30px; }

.delosan_36P-grids {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.swift-36P-grids {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.paty-viena-36P-grids {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.brest-36P-grids {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.snacks-grids {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: none;
  align-items: none;
  grid-area: none;
  margin: 30px 0px 30px 0px; }

.leq-grids {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.krachitos-grids {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.chil-grids {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

.pehuamar-grids {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  text-align: center; }

main div form {
  margin: 40px; }

main div p {
  margin: 40px; }

main section form fieldset {
  margin: 40px; }

.snacks-grids {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  align-items: none;
  grid-area: none;
  margin: 30px 0px 30px 0px; }

.leq-grids {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  align-items: center; }

.krachitos-grids {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  align-items: center; }

.chil-grids {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  align-items: center; }

.pehuamar-grids {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
  align-self: center;
  align-items: center; }
