@media(max-width:1024px){
    .chopan{
        width: 230px;
    }
    .hamburguesas{
        width: 230px;
    }
    .snacks{
        width: 230px;
    }
    .buscador input{
        width: 30%;
    }
    .navegacion{
        flex-direction: row-reverse;
    }
    .buscador input{
        width: 70%;
        height: 25px;
    }
    .linea4-grids{
        @include grid (repeat(6,1fr),repeat(2,1fr),none,none,none);
        margin: 30px 0px 30px 0px;
        grid-gap: 10px;
    }
    .linea3-grids{
        @include grid (repeat(6,1fr),repeat(2,1fr),none,none,none);
        margin: 30px 0px 30px 0px;
        grid-gap: 10px;
    }
    .swift-40F-grids{
        @include grid-mq (1,3,1,3,center,center);
    }
    .UG-40F-grids{
        @include grid-mq (3,5,1,3,center,center);
    }
    .paty-clasico-40F-grids{
        @include grid-mq (5,7,1,3,center,center);
    }
    .maxi-mesa-40F-grids{
        @include grid-mq (1,7,3,5,center,center);
    }
    .linea1-grids{
        @include grid (repeat(6,1fr),repeat(2,1fr),none,none,none);
        margin: 30px 0px 30px 0px;
        grid-gap: 10px;
    }
    .swift-24F-grids{
        @include grid-mq (1,3,1,3,center,center);
    }
    .UG-24F-grids{
        @include grid-mq (3,5,1,3,center,center);
    }
    .paty-clasico-24F-grids{
        @include grid-mq (5,7,1,3,center,center);
    }
    .maxi-mesa-24F-grids{
        @include grid-mq (1,7,3,5,center,center);
    }
    .linea2-grids{
        @include grid (repeat(6,1fr),repeat(2,1fr),none,none,none);
        margin: 30px 0px 30px 0px;
        grid-gap: 10px;
    }
}