@media(max-width:375px){
    .navegacion{
        margin-top: 10px;
        font-size: 15px;
    }
    .buscador input{
        width: 40%;
        height: 15px;
    }
    .chopan{
        width: 300px;
    }
    .hamburguesas{
        width: 300px;
    }
    .snacks{
        width: 300px;
    }
}