@media(max-width:375px){
    .chopan{
        width: 100px;
    }
    .hamburguesas{
        width: 100px;
    }
    .snacks{
        width: 100px;
    }
    .linea{
        margin-right: 20px;
    }
}