main{
    div{
        form{
            margin: 40px;
        }
        label{
            display: flex;
            text-align: center;
        }
        p{
            margin: 40px;
        }
    }
}