footer{
    background-color: $backgraund-secundario;
}
.redes-sociales-1 a{
    @include flex (column,wrap,none,none,5px);
    margin-left: 10px;
    text-decoration: none;
    text-align: start;
}
.redes-sociales-2{
    @extend .redes-sociales-1;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    gap: none;
}
.ubicacion{
    @include flex (column,wrap,none,none,none);
    text-align: center;
    
}
.color-footer{
    color: white;
}