header{
    .portada{
        width: 100%;
    } 
    .navegacion{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 25px;
        flex-wrap: wrap;
        gap: 25px;
    }
    .navegacion a{
        text-decoration: none;
        color: black;
    }
    nav li{
        list-style: none;
    }
    nav{
        background-color: $backgraund-principal;
        margin-top: -10px;
    }
}
header{
    @include grid (repet(3,1fr),repet(3,1fr),none,none,"portada portada portada""navegacion navegacion navegacion""buscador buscador buscador")
    }
    .buscador{
        grid-area: buscador;
        display: flex;
        gap: 20px;
        font-size: 25px;
        padding: 8px;
        justify-content: center;
    }
    .buscador input{
        width: 90%;
        height: 30px;
    }
.fondo-index{
    background-image: url(../asset/img/Fondo-de.madera.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header nav ul li a:hover{
color: white;
}
input:focus{
    box-shadow: 10px 3px 5px grey;
    background-color: grey;
}