main{
    .centro{
        margin: 30px 10px 0px 10px;
    }
    .box{
        text-align: center;
        padding: 30px 0px 30px 0px;
    }
    section{
        ul{
            @include flex (row,wrap,space-evenly,none,20px);
        }
    }
}
button a{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: $backgraund-secundario;
}
button{
    margin: 20px 0px 20px 20px;
    width: 20em;
    position: relative;
    height: 5.5em;
    border: 3px ridge $backgraund-principal; 
    border-radius: 10px;
    transition: 1s;
    background-color: $backgraund-principal;
}
button::after{
    content: "";
    position: absolute;
    top: -1px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: transparent;
    transition: 1s;
    transform-origin: center;
}
button::before{
    content: "";
    transform-origin: center;
    position: absolute;
    top: 0px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: transparent;
    transition: 1s;
}
button:hover::before, button:hover::after{
    transform: scale(0);
}
button:hover{
    box-shadow: inset 0px 0px 40px black;
}
