.linea3-grids{
    @include grid (repeat(8,1fr),repeat(2,1fr),none,none,none);
    margin-top: 30px;
}
.linea4-grids{
    @include grid (repeat(8,1fr),repeat(2,1fr),none,none,none);
    margin-top: 30px;
}
.delosan_36P-grids{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    text-align: center;
}

.swift-36P-grids{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    text-align: center;
}

.paty-viena-36P-grids{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    text-align: center;
}
.brest-36P-grids{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    text-align: center;
}