main{
    section{
        form{
            fieldset{
                margin: 40px;
            }
            display: flex;
            text-align: center;
            flex-wrap: wrap;
            gap: 50px;
        }
    }
}